# кодировка сайта
AddDefaultCharset utf-8

# реализация ЧПУ
RewriteEngine On
RewriteRule ^([a-z]+-?[a-z]+)$ /public/menu-pages/$1.php [NC,L]

RewriteRule ^vypolnennye-raboty/[a-z0-9]+((-[a-z0-9]+)+)?$ /public/show-work.php [NC,L]